html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#navigation {
  font-weight: bold;
  top: 95%;
  position: absolute;
  width: 100%;
}

#up-arrow, #down-arrow {
  position: relative;
  width: 50px;
  padding: 5px;
  font-size: 17px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid grey;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

#resultsWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200%;
  width: 100%;
}

#results > li {
  opacity: 1;
  color: white;
}

#results a {
  color: lightblue;
}

.resultsNav {
  text-align: center;
}

.resultsNav a {
  padding-left: 5px;
  color: lightblue;
}