html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.loading {
  position: relative;
  text-align: center;
}

.alerts-wrapper > .alert {
  border: none;
  border-radius: 0;
  cursor: pointer;
  min-height: 52px;
  padding: 5px 15px;
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
}

/* -----------------| Navigation |----------------- */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-inverse > .container {
  color: white;
  font: 10px "Roboto", sans-serif;
  width: 100%;
}

.app-title-part-1 {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.app-title-part-2 {
  font-size: 12px;
  text-align: center;
  top: -5px;
}

@media (min-width: 350px) {
  .app-title-part-1 {
    font-size: 20px;
  }

  .app-title-part-2 {
    padding-left: 93px;
  }
}

.list-trigger {
  text-align: right;
}

/* ----------------|     Map     |----------------- */

.map-canvas {
  height: 90%;
}

/* ---------------| Results List |----------------- */

.results-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  height: 100%;
  padding: 0 20px 100px 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}

@media (min-width: 850px) {
  .results-wrapper {
    top: 53px;
  }
}

@media (min-width: 380px) {
  .results-wrapper {
    padding: 0 10px 100px 10px;
  }
}

.results-wrapper .park-item {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  margin: 5px;
  min-height: 120px;
  min-width: 140px;
  padding: 10px;
  text-align: center;
}

.results-wrapper .park-item.col-xs-4 {
  width: 30%;
}

.results-wrapper .park-item.col-xs-6 {
  width: 45%;
}

.results-wrapper .park-item .name {
  margin-bottom: 20px;
}

.results-wrapper .park-item:nth-child(1) {
  margin-left: 15px;
}

/* ------------| Current Selection |--------------- */

.current-selection {
  background-color: rgba(85, 107, 47, 0.5);
  display: none;
  height: 100%;
  margin: -35px 0 0 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.results-wrapper,
.current-selection {
  max-width: 560px;
  min-width: 310px;
}

.current-selection .close {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgb(15, 15, 15);
  font-weight: normal;
  margin: 5px -10px 0 0;
  opacity: 0.8;
  padding: 10px 8px 10px;
}

.current-selection .wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.current-selection .content {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.7);
  clear: both;
  opacity: 1;
  padding: 0 10px 10px 10px;
}

.current-selection .content h3 {
  margin-top: 10px;
  text-align: center;
}

.brief-info {
  overflow: auto;
  text-align: center;
}

.brief-info > div:not(:last-child) {
  border-right: 1px solid black;
}

.brief-info .table-header {
  font-weight: bold;
}

.yelp-data {
  padding: 10px;
  background-color: rgba(250, 250, 250, .5);
}

.yelp-data .col-xs-4:nth-child(2) {
  text-align: center;
}

.yelp-data .col-xs-4:nth-child(3) {
  text-align: right;
}

/* -------| JSSOR thumbnail navigation skin |------ */
/* jssor slider thumbnail navigator skin 01 css */
/*
   .jssort01 .p            (normal)
   .jssort01 .p:hover      (normal mouseover)
   .jssort01 .p.pav        (active)
   .jssort01 .p.pdn        (mousedown)
*/

.slider1_container {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

.jssort01 {
  position: absolute;
  /* size of thumbnail navigator container */
  width: 500px;
  height: 100px;
  overflow: hidden;
  background-color: rgba(5, 5, 5, .4);
}

.jssort01 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}

.jssort01 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.jssort01 .w {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jssort01 .c {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  border: #000 2px solid;
  box-sizing: content-box;
  background: url(../images/t01.png) -800px -800px no-repeat;
  _background: none;
}

.jssort01 .pav .c {
  top: 2px;
  _top: 0;
  left: 2px;
  _left: 0;
  width: 68px;
  height: 68px;
  border: #000 0 solid;
  _border: #fff 2px solid;
  background-position: 50% 50%;
}

.jssort01 .p:hover .c {
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border: #fff 1px solid;
  background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
  background-position: 50% 50%;
  width: 68px;
  height: 68px;
  border: #000 2px solid;
}

* html .jssort01 .c,
* html .jssort01 .pdn .c,
* html .jssort01 .pav .c {
  /* ie quirks mode adjust */
  width /**/: 72px;
  height /**/: 72px;
}

/* --------------| Nav-Icon Animation |------------ */

.nav-icon {
  margin: 13px;
  width: 35px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: "";
  display: block;
  height: 3px;
  margin: 7px 0;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
  -moz-transform: translateY(12px) rotate(135deg);
  -webkit-transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-8px) rotate(-135deg);
  -moz-transform: translateY(-8px) rotate(-135deg);
  -webkit-transform: translateY(-8px) rotate(-135deg);
}

.nav-icon:hover div {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.grid-button,
.grid-button.rearrange.closeMenu {
  padding: 20px 10px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  margin: 0 11px;
  border: none;
  background: none;
}

.grid-button .grid {
  width: 10px;
  height: 10px;
  background: #ecf0f1;
  color: #ecf0f1;
  transition: .3s;
  -webkit-transition: .3s;
  display: block;
}

.grid-button.rearrange .grid {
  box-shadow: -12px -12px, 0 -12px, 12px -12px, -12px 0, 12px 0, -12px 12px, 0 12px, 12px 12px;
}

.grid-button.rearrange.closeMenu .grid {
  box-shadow: 0 -10px, 0 -15px, 10px 0, -15px 0, 15px 0, -10px 0, 0 15px, 0 10px;
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  -webkit-transform: matrix3d(0.5656854249492381, -0.565685424949238, 0, 0, 0.565685424949238, 0.5656854249492381, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1);
}